@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&family=Jersey+10&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merienda:wght@300..900&display=swap');

body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    font-family: "JetBrains Mono", monospace !important;
    font-optical-sizing: auto;
    font-style: normal;

    // background: #000000;
    // color: #FFDEDE !important;

    h1 {
      text-align: left;
      font-family: 'Doto', sans-serif;
    }

    h2, h3, h4, h5, h6 {
      font-family: 'Merienda', sans-serif !important;

      position: relative;
      width: fit-content;

      // color: #CF0F47 !important;
      // font-size: 2em;
    }

    h2::after, h3::after {
      content: '';
      width: calc(100% - 3rem);
      height: .3rem;
      display: block;
      position: absolute;
      bottom: -.3rem;
      background: #1DCD9F;
    }

    --primary-color: #169976;

    --link-color: var(--primary-color);
    --link-external-color: var(--primary-color);

    // --color-tulip: var(--primary-color);
    // --color-light-carmine-pink: var(--primary-color);

    // FFDB00
}
